:80 {
	encode zstd gzip

	@api path /api /api/*
	handle @api {
		reverse_proxy api:3000 {
			header_up X-Forwarded-For {remote_host}
			header_up X-Movie-Harbor-Proxy-Token {$TRUST_PROXY_SECRET}
		}
	}

	@public_media path_regexp public_media ^/media/v([0-9]+)/(poster|video)/([0-9a-f]{2}/[0-9a-f]{32}\.[A-Za-z0-9]+)$
	handle @public_media {
		header X-Content-Type-Options nosniff
		rewrite * /media/volumes/{re.public_media.1}/{re.public_media.2}/{re.public_media.3}
		root * /srv
		file_server
	}

    @other_media path /media /media/*
    handle @other_media {
        respond 404
    }

	handle /admin {
		redir /admin/ 308
	}

	handle /admin/* {
		reverse_proxy admin-web:80
	}

	handle {
		reverse_proxy public-web:80
	}
}
